#array-container {
    background: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transform: rotate(180deg);
    border: 5px solid #d15252;
    border-radius: 16px;
    padding: 1px 2px 10px 0px;
  }
  .array-bar {
    width: 20px;
    height: 100px;
    background-color: #6495ED;
    margin: 0 2px;
  }

  #algorithm-select {
    margin-bottom: 10px;
  }
  button {
    margin-right: 10px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #b51919;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: #c6c6c6;
  }
  button:active {
    background: #000;
  }



  